<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title></title>
    </head>
    <body>
        <ul>
            {% for map_obj in map_objects %}
                <li><a href="{% url 'map_view' map_obj.id %}">{{ map_obj.name }}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>