{% load staticfiles humanize %}
<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8" />
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>
        <script type="text/javascript">
            Loader.load();
            var regions, latitude, longitude, zoom;
            regions = {{ regions_json|safe }};
            {% if initial_view %}
                latitude = {{ initial_view.lat }};
                longitude = {{ initial_view.lng }};
                zoom = {{ initial_view.zoom }};
            {% endif %}
        </script>
        <title>ZIKADO - mapa inzerce - {{ map_object.name }}</title>

        <style>
            .toggle-btn {
                position: fixed;
                top: 10px;
                left: 10px;
            }

            .card {
                width: calc(100% - 20px);
                max-width: 400px;
                position: fixed;
                top: 58px;
                left: 10px;
                max-height: calc(100vh - 58px - 10px);
                overflow: auto;
            }

            h2 {
                margin: 40px 0 20px;
            }

            h2:first-of-type {
                margin-top: 10px;
            }

            .color-box {
                display: block;
                width: 30px;
                height: 20px;
                float: left;
                margin: 50px 10px 0 0;
                border-radius: 5px;
            }

            .color-box:first-of-type {
                margin-top: 20px;
            }

            .card-body .list-group:last-of-type {
                margin-bottom: 20px;
            }
        </style>
    </head>

    <body>
        <div id="m" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0;"></div>

        <a class="btn btn-light toggle-btn" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Zobrazit legendu
        </a>

        <div class="collapse" id="collapseExample">
            <div class="card">

                <div class="card-body">
                {% for region in regions %}
                    <div class="color-box" style="background-color: {{ '#'|add:region.sectors.0.color }}"></div>
                    <h2>{{ region.name }}</h2>
                    <ul class="list-group">
                        {% for group in region.sector_groups %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ group.name }}
                                <span class="badge badge-light badge-pill">
                                    {{ group.volume|intcomma }}&nbsp;ks&nbsp;&nbsp;výtisků
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
                </div>
            </div>
        </div>

        <script src="{% static 'map_loader.js' %}"></script>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>